body {
    width: 1200px;
    margin: 0 auto;
    background-color: #cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

section {
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

