.container {
    position: relative;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

.logo {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    background: -webkit-linear-gradient(rgb(179, 229, 252), rgb(188, 127, 248), rgb(106, 74, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    padding: .5em;
}

h1 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.space {
    margin: 1em;
}

.top-margin {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}


.footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.bold {
    font-weight: bold;
    font-size: smaller;
}



.underline {
    text-decoration: underline;
}


.center {
    text-align: center;
}

.border {
   margin-top: 2em;
   margin-bottom: 2em;
}

.top {
    margin-top: 3em;
}



.mid {
    color: black;
}

img {
    width: 100%;
}

video {
    width: 100%;
    margin-bottom: 2em;
}

a, a:visited {
    color: inherit;
}
